<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SQLConnection"
    connectionString="Server=db49bc5c-9573-4a49-a189-a0e3017487df.sqlserver.sequelizer.com;Database=dbdb49bc5c95734a49a189a0e3017487df;User ID=tathftnmdkwwpmbz;Password=Rc5jPncxsUnt2bvNAsPWoMWzgzK5iUZTw4siEdhF8v8zFmLgcoBsWnPdoDcpKfpE;"/>
  </connectionStrings>
</configuration>